@page
@model CSSD_project.Pages.AcceptedModel
@{
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/css/base.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login Page</title>

</head>

<body>
    <main id="main-holder">
        <script>
         setTimeout(function(){
            window.location.href = 'index';
         }, 5000);
        </script>

        <h1>Payment Accepted Redirecting now....</h1>

    </main>
</body>
